:root {
    --font-size-s: 14px;
    --font-size-m: 16px;
    --cloud-white: #f8f9fa;
    --dark: #3c4043;
    --silver: #f1f3f4;
    --steel: #dadce0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-s);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: var(--dark);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 6px;
}

.query-input {
    width: 560px;
    height: 44px;
    padding: 0 14px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: var(--font-size-m);
    outline: none;
    box-shadow: none;
}

.query-input:focus, 
.query-input:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.submit-input {
    background-color: var(--cloud-white);
    border: 1px solid var(--cloud-white);
    color: var(--dark);
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px 4px;
    cursor: pointer;
}

.submit-input:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--silver);
    border-color: var(--steel);
}

.anchors {
    position: fixed;
    top: 16px;
    right: 16px;
}

.anchors button {
    background-color: var(--cloud-white);
    border: 1px solid var(--cloud-white);
    color: var(--dark);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.anchors button:hover {
    background-color: var(--silver);
    border-color: var(--steel);
}

.svg-container {
    position: relative;
}

.svg-container span {
    position: absolute;
    right: 10px;
    bottom: 4px;
    color: #4487FE;
    font-size: var(--font-size-m);
}
